.app {
    text-align: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    color: white;
    background: linear-gradient(45deg, white, black, white);
    background-size: 700% 700%;
    animation: gradient 13s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.generate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.generate-input {
    border: 1px solid white;
    border-radius: 7px;
    width: 300px;
    height: 20px;
    margin: 20px;
}

.image-container {
    margin-top: 50px;
}

.generate-button {
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.result-image {
    margin-top: 20px;
    width: 350px;
}